* {
    box-sizing: border-box;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: montserrat;
}

body {
    margin: 0;
    padding: 0;
    background-color: #24252A
        /* Dark Grey */
}

.navbar {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32374d;
    color: #fff;
}

.logo {
    font-size: 1.5rem;
    margin: .5rem;
    cursor: pointer;
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
    color: #0088a9;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}